body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patrick-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

.register-container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    position: relative;
}

.register-container:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.register-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Adjust padding to make room for icons */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-icon {
    position: absolute;
    top: 70%;
    left: 10px;
    transform: translateY(-50%);
    color: #666;
}

input:focus + .input-icon,
select:focus + .input-icon {
    color: #007bff;
}

.register-container button[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px;
}

.register-container button[type="submit"]:hover {
    background-color: #0056b3;
}

.register-container a {
    display: block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
}

.register-container a:hover {
    text-decoration: underline;
    color: #333;
}
